body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      height: 100vh;
      display: flex;
      padding: 0;
      margin: 10px auto;
      align-items: center;
      justify-content: center;
    }

    .container {
      max-width: 500px;
      margin: auto;
      background: white;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }

    .in-out-btn {
      display: flex;
      flex-direction: row;
    }

    .in-out-btn button {
      padding: 12px 20px;
      border: 1px solid #1f2937;
      border-radius: 0px;
      background-color: #6b7280; /* Gray inactive */
      color: white;
      cursor: pointer;
      transition: 0.3s;
      align-items: center;
    }

    .in-out-btn button.active {
      background-color: #1f2937; /* Active button */
      align-items: center;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    #input-section {
      display: flex;
      flex-direction: row;
      padding: 10px;
      align-items: center;
      justify-content: center;
    }

    #int-input-group {
      margin-right: 20px;
    }

    .input-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      width: 220px;
      max-width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .H2-input-group {
      margin-bottom: 15px;
    }

    .H2-input-group input {
      width:95.5%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .hidden {
      display: none;
    }

    button {
      width: 100%;
      padding: 12px;
      background: #1f2937;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background: #111827;
    }

    #reset-section {
      margin-top: 15px;
    }

    #reset-button {
      width: 120px;
      max-width: 100%;
      padding: 12px;
      background: #6b7280;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
    }

    #reset-button:hover {
      background: #111827;
    }

    .result {
      margin-top: 20px;
      padding: 15px;
      background: #e5e7eb;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }

    .status {
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
    }

    .good {
      color: green;
    }

    .bad {
      color: red;
    }